MULDA/data/*
MULDA/code/mbart_fairseq_copy/fairseq/mbart.cc25.v2/*
MULDA/code/translate/google-translate.json
checkpoints/
**/.DS_Store
**/.ipynb_checkpoints/
DAGA/daga/models/
DAGA/NER_TRAIN/
DAGA/NER_DEV/
DAGA/daga/samples/